<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249872555742-o2il2kie9fgktcukkuu9ahdaregvesdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249872555742-o2il2kie9fgktcukkuu9ahdaregvesdo</string>
	<key>API_KEY</key>
	<string>AIzaSyBe-nZVm8r-hDGIndSVWEss7EPqYOXSEns</string>
	<key>GCM_SENDER_ID</key>
	<string>249872555742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTask</string>
	<key>PROJECT_ID</key>
	<string>flutter-task-4da09</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-task-4da09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249872555742:ios:561faa3d2a25dc36ceec4f</string>
</dict>
</plist>